.container{
 background: red;
 padding: 20px;;
}

.card-balance {
  background: blue;
  width: 400px;
  height: 130px;
  border-radius: 10px;
  margin-bottom: 7%;
}

.card-balance h4 {
  color: azure;
  padding: 10px;
  font-size: 20px;
  display: inline-block;
}

.card-balance h2 {
  color: azure;
  padding-left: 15px;
  font-size: 25px;
}

.card-balance h2 span {
  font-size: 35px;
}

.card-balance i {
  font-size: 25px;
  margin-left: 90%;
}

.card-status {
  background: blue;
  width: 400px;
  height: 130px;
  border-radius: 10px;
  margin-bottom: 7%;
}

.card-status h4 {
  color: azure;
  padding: 10px;
  font-size: 20px;
  display: inline-block;
}

.card-status h2 {
  color: azure;
  padding-left: 15px;
  font-size: 25px;
}

.card-status h2 span {
  font-size: 35px;
}

.card-status i {
  font-size: 25px;
  margin-left: 90%;
}

.card-co-titular {
  background: blue;
  width: 400px;
  height: 130px;
  border-radius: 10px;
  margin-bottom: 7%;
}

.card-co-titular h4 {
  color: azure;
  padding: 10px;
  font-size: 20px;
  display: inline-block;
}

.card-co-titular h2 {
  color: azure;
  padding-left: 15px;
  font-size: 25px;
}

.card-co-titular h2 span {
  font-size: 35px;
}

.card-co-titular button {
  font-size: 14px;
  margin-left: 60%;
  border: none;
  background: orange;
  color: white;
  height: 25px;
  border-radius: 3px;

}

