
.sidebar {
  position: absolute;
  width: 250px;
  height: 100vh;
  background: white;
  transition: all .5s ease;
  border-radius: 0px 10px 10px 0px;
  
}

.sidebar header {
  font-size: 22px;
  color: black;
  text-align: center;
  line-height: 70px;
  background: white;
  user-select: none; 
}

.sidebar ul span {
  display: flex;
  align-self: center;
  justify-self: center;
  height: 10%;
  width: 80%;
  line-height: 65px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  border-radius: 35px;
  transition: .4s;
  margin-top: 15%;
  margin-left: 12%;
  padding-left: 15%;
  background-color: #284fae;
  cursor: pointer;
}

.sidebar ul li:hover span {
  padding-left: 5%;
  background-color: #14378f;
}

.sidebar ul span i {
  margin-right: 10px;
  font-size: 23px;
}


@media screen and (max-width: 1417px){
  .sidebar {
    height: 20vh;
    background: #f5f7f9;
  }

  .container-sidebar-check{
    display: block;
  }

  .sidebar ul span {
    width: 55%;
    font-size: 16px;
    padding-left: 5%;
    line-height: 45px;
    margin-top: 3%;
  }

  .sidebar ul span i {
    font-size: 16px;
  }
}

@media screen and (max-width: 540px){

  .sidebar {
    height: 10vh;
    width: 100vw;
  }

  .sidebar ul li {
    display: block;
    float: left;
    margin-left: 8%;
    margin-top: 8%;
  }

  .sidebar ul span {
    width: 125%;
    font-size: 16px;
    padding-left: 15%;
    line-height: 35px;
    display: flex;
  }

  .sidebar ul span i {
    font-size: 15px;
  }

}

/* Container do grid */
.container{
  background: #f5f7f9;
  background-image: url('../../img/wave.svg');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  transition: all .5s ease;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr 1fr;
  grid-template-rows: 20vh 20vh 20vh 20vh;
  gap: 10px;
 }

 .grid-profile-name {
  grid-column: 1/5;
  grid-row: 1/1;

  justify-self: center;
  align-self: center;

 }

 .grid-cards-main {
  grid-column: 2/2;
  grid-row: 2/5;
  padding-top: 5%;

  justify-self: center;
 }

 .grid-card {
  grid-column: 3/3;
  grid-row: 2/5;

  padding-top: 5%;
  padding-left: 10%;

  justify-self: center;
 }

 .grid-cards-images {
  grid-column: 4/4;
  grid-row: 1/5;

  align-self: top;
  justify-self: center;
 }
 
 .card-balance {
   background: green;
   width: 400px;
   height: 160px;
   border-radius: 20px;
   margin-bottom: 10%;
   color: #fff;
   font-family: 'Open Sans', sans-serif; 
   transition: all .5s ease;
   box-shadow: 1px 1px 10px rgb(209, 207, 207);
 }

 .card-balance:hover {
    padding: 2%;
 }
 
 .card-balance h4 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 16px;
  display: inline-block;
   
 }
 
 .card-balance h2 {
   padding-left: 15px;
   font-size: 25px;
 }
 
 .card-balance h2 span {
   font-size: 35px;
 }
 
 .card-balance i {
   font-size: 25px;
   margin-left: 90%;
 }
 
 .card {
  background: #ffffff;
  width: 400px;
  height: 160px;
  border-radius: 20px;
  margin-bottom: 10%;
  color: #000;
  font-family: 'Open Sans', sans-serif; 
  transition: all .5s ease;
  box-shadow: 1px 1px 10px rgb(209, 207, 207);
  border-left: 8px solid rgb(134, 13, 182);
 }

 .card:hover {
  padding: 2%;
}

 
 .card h4 {
  padding-top: 20px;
  padding-left: 20px;
  font-size: 16px;
  display: inline-block;
 }
 
 .card h2 {
   padding-left: 10%;
   font-size: 25px;
 }
 
 .card h2 span {
   font-size: 35px;
 }
 
 .card i {
   font-size: 25px;
   margin-left: 90%;
   color: green;
 }
 
 .card-co-titular button {
   font-size: 15px;
   margin-left: 50%;
   background: #ffffff;
   color: #c04c8b;
   font-weight: bold;
   height: 36px;
   border-radius: 12px;
   border: 2px solid lightgray;
   width: 40%;
   font-family: 'Open Sans', sans-serif; 
   cursor: pointer;
 }

 .card-co-titular button:hover {
  background: lightgray;
 }

 /* Cartao de crédito */

 .card-card-container {
   background-image: linear-gradient(to bottom, #284fae, #c04c8b);
   padding: 1em;
   border-radius: 10px;
   width: 15em;
   height: 25em;
   box-shadow: 2px 2px 8px #000;
   margin-left: 70px;
   margin-top: 12px;
   justify-self: end;
   transition: all .5s ease;
 }

 .card-card-container:hover {
   padding: 1.5em;
 }

 .card-card {
  display: flex;
  flex-direction: column;
  height: 100%;
 }

 img[alt=mastercard]{
   width: 30%;
 }

 img[alt=chip]{
   width: 20%;
   margin-left: 30%;
   transform: rotate(90deg);
 }

 .header {
   height: 70%;
 }

 .box-img {
   display: flex;
   align-items: flex-start;
 }

 .footer {
   height: 30%;
   color: white;
   margin-left: 1em;
   font-family: 'Open Sans', sans-serif; 
 }

 .footer p{
   font-size: 16px;
   padding-bottom: 10%;
 }

 .footer h2 {
   font-size: 30px;
 }

 /* cards de imagens do canto da tela*/

.container-cards-images {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 25%;
}


.cards-images {
  background-color: #ffffff;
  height: 30%;
  width: 11em;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-bottom: 15%;
  padding-top: 10%;
  margin-bottom: 60%;
  transition: all .5s ease;
  box-shadow: 2px 2px 10px rgb(209, 207, 207);
}

.cards-images:hover {
  background-color: #DCDCDC;
  padding-bottom: 15%;
  padding-top: 15%;
}

.container-cards-images h2 {
  font-family: 'Open Sans', sans-serif; 
  font-size: 15px;
  padding-top: 10%;
  color: #c04c8b;
}

.container-cards-images img  {
  width: 60%;
  height: 60%;
  object-fit: contain;
  opacity: 0.6;
}
 

@media screen and (max-width: 970px){
  .container-cards-images {
    display: none;
  }

  .grid-profile-name{
    grid-column: 2/5;
    grid-row: 1/1;
  }
}

@media screen and (max-width: 540px){

  .card {
    width: 350px;
    height: 120px;
    border-radius: 20px;
    margin-bottom: 10%;
  }
  
  .card-balance {
    width: 350px;
    height: 120px;
    border-radius: 20px;
    margin-bottom: 5%;
  }
  
  .grid-profile-name{
    display: none;
  }

  .grid-sidebar {
    grid-column: 1/5;
    grid-row: 1/5;
  }
  
  .grid-cards-main {
    grid-column: 1/5;
    grid-row: 2/5;
  }

  .grid-card {
    grid-column: 1/5;
    grid-row: 5/5;
  }

  .card-card-container{
   padding-top: 1em;
   width: 13em;
   height: 20em;
   box-shadow: 2px 2px 5px rgb(151, 149, 149);
   margin-left: 5px;
   margin-top: 5px;
   margin-bottom: 15px;
   justify-self: end;
  }

}
 